<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        A Dream of the Future
      </h1>
    </header>

    <main>
      
      <section id="join">
        <p class="bold">Oh hi,</p>
        <p>How do you want to be called:</p>
        <form>
          <input id="nick" type="text" maxlength="100" placeholder="Your nick">
          <button type="submit">Submit</button>
        </form>
      </section>
      

      
      <section id="public-chat">
        
        <header><h1>Hello <span id="nick-name"></span>, you are in the public chat</h1></header>
        <section id="user-list">
          <header><h1>Connected users</h1></header>
          <ul id="users">
          </ul>
        </section>
        <ul id="messages"></ul>
        <form action="">
          <input id="message" autocomplete="off" /><button>Send</button>
        </form>
      </section>
      
    </main>

    <footer>
      <a href="https://hyperdev.com">
        Remix this in HyperDev
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>

  </body>
</html>
